* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #636363;
  font-family: "Jost", sans-serif;
}

.main-section {
  padding-top: 100px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
