

/*--------- about --------------*/
.about .container{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bottom-ab-grids{
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

h6.about-content{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
  text-align: center;
}

h3.title{
  text-align: center;
  font-size: 35px !important;
  line-height: 40px;

}

p.my-3{
  text-align: center;
  margin: 1px;
  padding: 1px;
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  font-family: 'Jost', sans-serif;
}

a.read{
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000000;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

/*=====Services=====*/
.container {
  max-width: 1200px;
}

.py-5 {
  padding-bottom: 3rem !important;
}

.py-5 {
  padding-top: 3rem !important;
}

.pl-lg-5 {
  padding-left: 3rem !important;
}

.mb-lg-0 {
  margin-bottom: 0 !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

body img{
  border-radius: 10px;
}

.w3l-services1 .cwp4-text {
  align-self: center;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
}

h6 {
  margin: 0;
  padding: 0;
}

h6, h3 {
  clear: both;
}

.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

h3 {
  margin: 0;
  padding: 0;
}

.w3l-services1 .cwp4-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24.5px;
  color: #696969;
  margin: 15px 0 35px 0;
}

ul {
  margin: 0;
  padding: 0;
}

.w3l-services1 ul.cont-4 li span.fa {
  color: #189a46;
  margin-right: 12px;
  background: rgb(148 108 233 / 0%);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

.w3l-services1 .cwp4-text ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000c04;
  margin: 15px 0;
  font-weight: 600;
}

/*=====Subscription=======*/
.py-5 {
  padding-bottom: 3rem !important;
}

.my-lg-4 {
  margin-bottom: 1.5rem !important;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.w3l-bottom .subscribe {
  max-width: 650px;
}

.mx-auto {
  margin-left: auto !important;
}

.mx-auto {
  margin-right: auto !important;
}

.text-center {
  text-align: center !important;
}

.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: #000;
}

.my-3 {
  margin-bottom: 1rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}


.w3l-bottom .subscribe-wthree-field {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.d-md-flex {
  display: flex !important;
}

.w3l-bottom form.subscribe-wthree input[type="email"] {
  font-size: 16px;
  color: #696969;
  border-radius: #696969;
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-control {
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


body, button, input, select, optgroup, textarea {
  color: #ffffff;
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

input {
  overflow: visible;
}

.w3l-bottom form.subscribe-wthree button {
  flex-basis: 27%;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #189A46;
  border-color: #189A46;
}








/*=====Footer======*/
section {
  display: block;
}




.container {
  margin-right: auto;
  margin-left: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.w3l-footer footer.footer-28 {
  background: #111;
}




.mt-5{
  margin-top: 3rem !important;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}


.w3l-footer h6.footer-title-28 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.w3l-footer .footer-list-28 ul li, .w3l-footer .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
  list-style: none;
  margin-bottom: 5px;
}

.w3l-footer .footer-list-28 ul li a, .w3l-footer .footer-list-28 ul li p {
  font-weight: normal;
  font-size: 16px;
  color: #696969;
  line-height: 28px;
}



.mt-3, .my-3 {
  margin-top: 1rem !important;
}

.w3l-footer ul.social-icons {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.w3l-footer ul.social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
}


.w3l-footer .main-social-footer-28 a:last-child {
  margin-right: 0;
}

.w3l-footer ul.social-icons li a {
  display: block;
  text-decoration: none;
}

.w3l-footer ul.social-icons li a span {
  font-size: 16px;
  color: #696969;
}

.fab {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.col-lg-6 .col-md-7{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.w3l-footer .midd-footer-28 {
  background: #111;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

.text-center {
  text-align: center !important;
}

.w3l-footer .copy-footer-28 {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #696969;
  margin-bottom: 0;
}

.w3l-footer .copy-footer-28 a {
  color: #f53626;
  opacity: 0.9;
}